:host{
    flex: 1;
    display: flex;
    justify-content: center;
    color: rgb(236, 103, 87) !important;
    margin-top: 70px;
}
#sign-form{
    width: 350px;
    height: fit-content;
}
span{
    font-size: 0.8rem;
}


