.content-card{
    color: rgb(103, 103, 103);
    background-color: rgba(248, 249, 250, 0.875);
    // width: 350px;
    min-width: 350px;
    max-width: 450px;
    transition-duration: 0.2s;
    .img-card{
        img{
            width: 30px;
        }
    }
    .spec-card{
        width: 70%;
        max-width: 200px;
        cursor: pointer;
    }
    .code-card, .place-card{
        font-size: 0.7rem;
    }
    .place-card{
        font-style: italic;
    }
}
.active{
    border: 2px solid #76cf62 !important;
}

@media (max-width: 600px) {
    .content-card{
        width: 100%;
    }
}