.content-card{
    width: 350px;
    min-width: 350px;
    transition-duration: 0.2s;
    .img-card{
        img{
            width: 30px;
        }
    }
    .spec-card{
        width: 70%;
        cursor: pointer;
    }
    .code-card, .place-card{
        font-size: 0.7rem;
    }
    .place-card{
        font-style: italic;
    }

}

@media (max-width: 600px) {
    .content-card{
        width: 100%;
    }
}