@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
              text-shadow: 1px 1px 1px rgb(236, 103, 87, 0.5);
    }
}

@keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
header{
    img{
        width: auto;
        height: 50px;
        cursor: pointer;
        animation: scale-down-center 0.2s both;
        &:hover{
            animation: scale-up-center 0.2s both;
        }
    }
    a{
        animation: scale-down-center 0.2s both;
        color: rgb(236, 103, 87) !important;
        &:hover{
            font-weight: bold;
            animation: scale-up-center 0.2s both;
        }   
    }
    [data-bs-toggle]{
        border: none;
        i{
            color: rgb(236, 103, 87);
        }
    }
}

@media (max-width: 992px) {
    header{
        img{
            position: absolute;
            top: 0px;
            right: 10px;
        }
        a{
            animation: none;
            &:hover{
                animation: none;
            }   
        }
        #navbarSupportedContent{
            border-top: 1px solid rgb(236, 103, 87, 0.2);
            margin: 10px 0 10px 0;
        }
        form{
            width: 50%;
        }

    }
}