<header class="d-flex justify-content-between px-4">
    <img class="mt-1" src="assets/image/logo.png" alt="">
    <nav class="d-flex align-items-center">
        <a class="text-decoration-none text-secondary mx-4" href="">Home</a>
        <a class="text-decoration-none text-secondary mx-4" href="">Search</a>
        <a class="text-decoration-none text-secondary mx-4" href="">Favorites</a>
    </nav>
    <div class="d-flex align-items-center">
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#signUpModal">
            Sign in
        </button>
    </div>
</header>
