<header class="bg-light mb-3 fixed-top">
    <div class="container d-flex">
        <nav class="navbar navbar-expand-lg container p-0 py-1 ">
            <img (click)="onLogoClick()" src="assets/image/logo.png" alt="only-chart-logo">
            <div class="container-fluid d-flex flex-row-reverse">
                <button #navbarToggler class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list-ul"></i>
                </button>
                <div #navbarContent class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mt-3 ms-0 ms-lg-5">
                        <li class="nav-item px-1 px-lg-3 py-2 py-lg-0">
                            <a (click)="onNavClick()" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link active p-0" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item px-1 px-lg-3 py-2 py-lg-0">
                            <a (click)="onNavClick()" routerLink="favorites" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link active p-0" aria-current="page">Favorites</a>
                        </li>
                        <li class="nav-item px-1 px-lg-3 py-2 py-lg-0">
                            <a (click)="onNavClick()" routerLink="sign-in" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link active p-0" aria-current="page">Sign in</a>
                        </li>
                    </ul>
                    <form class="d-flex py-3 py-lg-0">
                        <input class="form-control form-control-sm me-2" type="search" placeholder="Search instrument..." aria-label="Search">
                        <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>
