header{
    z-index: 2;
    img{
        width: auto;
        height: 50px;
        cursor: pointer;
        animation: scale-down-center 0.2s both;
        &:hover{
            animation: scale-up-center 0.2s both;
        }
    }
    form{
        width: 250px;
    }
}