nav{
    backdrop-filter: blur(4px);
    background-color: #3d3d3da9;
    height: 100%;
    position: fixed;
    z-index: 2;
    .content{
        background-color: #f8f9fa;
        width: 500px;
        height: 100%;
    }
    ul{
        background-color: #f8f9fa;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .navbar-nav{
        font-size: 1.2rem;
        i{
            color: rgb(236, 103, 87);
            font-size: 1.2rem;
        }
    }
}
.hide{
    width: 0px;
    overflow: hidden;
    transition-duration: 0.3s;
}
.show{
    width: 100%;
    overflow-y: auto;
    transition-duration: 0.3s;
}
.active{
    font-weight: bold;
}
@media (max-width: 1000px) {
    nav{
        .content{
            width: 100%;
        }
    }
    .show{
        width: 100%;
    }
}