@import 'bootstrap.overide';
@import 'animations';
@import 'fonts';
@import '../node_modules/bootstrap/scss/bootstrap';

* {
    font-family: $quicksand;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.fullHeight{
    display: flex;
    flex-direction: column;
    flex: 1
}
.bb{
    border-bottom: 1px solid rgb(236, 103, 87, 0.2);
}
.bi{
    cursor: pointer;
}
.bi-star, .bi-star-fill{
    color: rgb(233, 208, 22);
}
