@import 'bootstrap.overide';
@import 'animations';
@import 'fonts';
@import '../node_modules/bootstrap/scss/bootstrap';

* {
    font-family: $quicksand;
}
body{
    position: relative;
    // display: flex;
    // flex-flow: column;
    // height: 100%;
}
.bg-wave{
    background-image: url("../public/assets/image/wave.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}
.fullHeight{
    display: flex;
    flex-direction: column;
    flex: 1
}
.bb{
    border-bottom: 4px solid rgba(236, 102, 87, 0.15);
}
.bi{
    cursor: pointer;
    &:hover{
        animation: scale-up-center 0.2s both;
    }
}
// th, td{
//     max-width: 50px;
//     font-size: 0.8rem;
//     background-color: rgba(255, 255, 255, 0.934) !important;
//     i{
// }
// .fav-col{
//     width: 10px;
// }
// .plus-col{
//     text-align: center;
// }


