<div class="tilt-in-top fullHeight container p-0">
    <nav class="bg-light">
        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
            @for (instrument of instruments; track instrument.id) {
                <app-graph-tab-nav [instrument]="instrument" (close)="closeTab(instrument)" ></app-graph-tab-nav>
            }
        </div>
    </nav>
    <div class="tab-content fullHeight border shadow rounded" id="nav-tabContent">
        @for (instrument of instruments; track instrument.id) {
            @if (instrument.active) {
                <app-graph-tab [instrument]="instrument" (close)="closeTab(instrument)" class="fullHeight"></app-graph-tab>
            }
        }
    </div>
</div>