.active{
    font-weight: bold !important;
    border-left: 2px solid #76cf62 !important;
    background: #ffffff !important;
}
button{
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap; 
    font-size: 0.8rem;
    padding-top: 3px;
}
.bi-trash-fill{
    color: red;
}
